*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-image: url('./buraco.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .banner:before{
    content:' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-color: #000;
    opacity: 0.6;
  }
  
  .banner__inner{
    position: relative;
    z-index: 1;
    width:90%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color:#fff;
  }
  
  .banner__inner h1{
    font-size: 64px;
    font-family: 'oxygen', 'sans-serif';
    line-height: 1.5;
    margin: 25px 0;
    font-weight: 300;
  }
  
  .banner__inner p{
    font-size: 22px;
    font-family: 'oxygen', 'sans-serif';
    line-height: 1.5;
  }
  
  .banner__inner a{
    display:inline-block;
    font-size: 22px;
    font-family: 'oxygen', 'sans-serif';
    line-height: 1.5;
    border:1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    width:160px;
    height:50px;
    margin-top:30px;
    text-decoration: none;
    color:#fff;
    padding-top:5px;
  
  
  }
  
  
  .secao{
    padding:  30px 0;
    width:100%;
    height: 100vh;
    background-color:#fff;
  }
  
  .secao h3{
    margin:20px 0;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'oxygen', 'sans-serif';
    color:#22313F;
  }
  
  .grid{
    display:flex;
    flex-direction: column;
    margin:30px auto;
    width:calc(100% - 100px);
    max-height: 600px;
  }
  
  .row{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    max-height: 300px;
  }
  .celula{
    width:25%;
    max-height: 100%;
    overflow: hidden;
    
  }
  
  .celula img{
    width: 100%;
    height: 100%;
    transition: transform 0.78s ease-in-out 0.5s;
  }
  .celula:hover img{
    transform: scale(1.075);
  }